*{
	padding: 0;
	margin: 0;
}
@font-face{
	font-family: "pacifico";
	src:url("fonts/Pacifico/Pacifico-Regular.ttf");
}
.clear{
	clear: both;
}
#menu{
	background-color: #4db8ff;
	box-shadow: 5px 0 50px gray;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
}
#menu ul{
	float: right;
	padding: 25px 50px;
}
#menu ul li{
	display: inline-block;
}
#menu ul li a{
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 0px 10px;
	display: inline-block;
	transition: transform 0.3s ease-out;
}
#menu ul li a:hover{
	color:  #ff9f80;
	transform: translate(0,-4px);
}
#logo{
	display: inline-block;
}
#logo img{
	width: 50px;
	height: 50px;
	padding-top: 7px;
	padding-left: 70px;
}
.logo_title{
	display: inline-block;
	font-size: 20px;
	padding-bottom: 15px;
	color: white;
	font-family: pacifico;
}

h1{
	padding: 20px 0; 
	text-align: center;
}
h2{
	font-size: 17px;
	padding: 15px;
}
#banner{
	width: 50%;
	margin-left: 25%;
}
#banner img{
	margin-top: 140px;
	width: 100%;
}

.title{
	max-width: 50%;
	margin-left: 25%;
	margin-top: 70px;
}
.title .title_text{
	text-align: center;
}
.title .outline{
	max-width: 50%;
	margin: 0 25%;
	height: 1px;
	background-color: black;
}

.card_box{
	max-width: 50%;
	margin-left: 25%;
	margin-top: 60px;
	margin-bottom: 50px;
}
.card_box .box{
	max-width: 30%;
	margin-left: 20px;
	margin-bottom: 20px;
	float: left;
}
.box img{
	width: 100%;
	box-shadow: 0 10px 10px gray;
}
.box h4{
	text-align: center;
	line-height: 1;
	margin-top: 20px;
}
.rating{
	text-align: center;
	color: #ffcc00;
	margin-bottom: 20px;
}
.buy_btn{
	width: 100%;
	padding: 5px;
	background-color: #4db8ff;
	border: none;
	color: white;
	margin-bottom: 30px;
}


#shop{
	max-width: 50%;
	margin-left: 25%;
	margin-top: 60px;
}
#shop img{
	width: 50%;
	float: left;
	margin-bottom: 70px;
	margin-right: 10px;
	margin-top: 20px;
}
#shop_desc{
	width: 45%;
	line-height: 1.5;
	text-align: left;
	float: left;
	margin-left: 20px;
	margin-bottom: 70px;
}
#about{
	width: 50%;
	margin-left: 25%;
}
#about_video{
	width: 100%;
	margin-top: 30px;	
} 

#about_desc {
	line-height: 1.5;
	margin-top: 50px;
}
h4{
	margin-bottom: 20px;
}
#map {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 50px;
}
iframe{
	margin-top: 50px;
}
#contact{
	width: 50%;
	margin-left: 25%;
	margin-top: 25px;
}

#contact_left{
	width: 50%;
	float: left;
}	
#contact_left h3{
	text-align: center;
	padding-bottom: 20px;
}
#contact_left p{
	padding-bottom: 15px;
}
#contact_right{
	width: 45%;
	padding-left: 30px;
	float: left;
}
#contact_right p{
	padding-top: 10px;
}


#footer{
	background-color: #4db8ff;
	text-align: center;
	color: white;
	margin-top: 50px;
}
#footer p,i{
	padding-top: 10px;
	padding-bottom: 5px;

}
#footer a{
	font-family: pacifico;
	text-decoration: none;
	color: white;
}
